flows/Compare_Contacts_vs_Emps.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Find_Number_of_Contacts</name>
        <label>Find Number of Contacts</label>
        <locationX>327</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>numOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Number_of_Emps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_numOfContacts_and_numOfEmps_Equal</name>
        <label>Are numOfContacts and numOfEmps Equal?</label>
        <locationX>121</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>DecisionNotEqual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>numOfEmps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionEqual</targetReference>
            </connector>
            <label>Equal</label>
        </rules>
    </decisions>
    <interviewLabel>Compare Contacts vs Emps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compare Contacts vs Emps</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Contacts</name>
        <label>Find Contacts</label>
        <locationX>126</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Number_of_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contacts</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Number_of_Emps</name>
        <label>Find Number of Emps</label>
        <locationX>325</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_numOfContacts_and_numOfEmps_Equal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>numOfEmps</assignToReference>
            <field>NumberOfEmployees</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>DecisionEqual</name>
        <label>Equal</label>
        <locationX>118</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Equal_Message</name>
            <fieldText>There are the same number of Contacts and Employees.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DecisionNotEqual</name>
        <label>Not Equal</label>
        <locationX>273</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Equal_Message</name>
            <fieldText>The number of Contacts and Employees are different.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Contacts</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>numOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numOfEmps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
